:root {
    // https://material.io/tools/color/#!/?view.left=0&view.right=0&primary.color=37474F&secondary.color=283593&primary.text.color=E0E0E0&secondary.text.color=9FA8DA
    --color-primary: #37474f;
    --color-primary-light: #62727b;
    --color-primary-dark: #102027;
    --color-primary-text: #e0e0e0;

    --color-secondary: #283593;
    --color-secondary-light: #5f5fc4;
    --color-secondary-dark: #001064;
    --color-secondary-text: #c5cae9;
    --color-secondary-text-subtle: #9fa8da;
}
